<!DOCTYPE html>
<html>
    <head>
        <title>Project List App</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }
        </style>
    </head>
    <body>
        <h1>Project List Website</h1>
        <h2>Note : Once the project is displayed on screen it cant be changed and otherpersons need to give the exisisting project</h2>
        <ul>
            <% projectList.forEach(function(project, index) { %>
            <li>
                <a href="/project/delete/<%= index %>">✘</a>
                <a href="/project/edit/<%= index %>">✎</a>
                <%= project %> <!-- Updated code -->
            </li>
            <% }); %>
        </ul>
        <form action="/project/add/" method="post">
            <p>
                <label for="newProject">What should I do?</label>
                <input type="text" name="newProject" id="newProject" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>
</html>
