<!DOCTYPE html>
<html>
    <head>
        <title>Edit Project: <%= project %></title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }
        </style>
    </head>
    <body>
        <h1>Edit Project: <%- project %></h1>
        <form action="/project/edit/<%= projectIdx %>" method="post">
            <p>
                <label for="editProject">Change to:</label>
                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="editProject" id="editProject" autofocus placeholder="<%- project %>" />
                <input type="submit" value="Save" />
            </p>
        </form>
    </body>
</html>
